* {
    margin: 0px;
}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    margin: 20px
}

#calculator-main {
    margin: auto;
    margin-top: 20vh;
    border: 2px solid black;
    width: 25%;
}

#calculator-display-main {
    padding: 10px 20px;
    margin: 20px;
    color: black;
    font-size: 3rem;
    text-align: right;
    border: 2px solid black;
}

#calculator-result {
    font-size: 3.5rem;
}

#calculator-buttons {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

#value-0 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.buttons {
    background-color: gray;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    padding: 25px 5px;
    text-align: center;
    border: 2px solid black;
}